<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Scheduling_Software.Properties.Settings.U06IIcConnectionString"
            connectionString="server=wgudb.ucertify.com;user id=U06IIc;password=53688772239;persistsecurityinfo=True;database=U06IIc;allowuservariables=False"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>